*{
  margin: 0;
  padding: 0;
}

body{
  background-color: lightyellow;  
}

.nav-flex-row {
    display:inline-block;
    position: absolute;
    z-index: 100;
    left: 0;
    width: 90%;
    margin-top: -20px;
    list-style: none;
    text-decoration: none;
    padding: 50px;
    text-decoration: white;
  }
  
  .nav-flex-row li {
    display: inline-block;
    left: 30px;
    list-style-type: none;
    padding: 30px;
    margin-left: 65px;
  }
  
  .nav-flex-row li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 300;
  }
  
  .nav-item {
      background-color: rgb(239, 171, 171);
      width: 10%;
      text-align: center;
      align-items: center;
      
  }
  
  .sub-header {
      display: inline-block;
      width: 50%;
      padding-left: 110px;

  }

  .header {
    padding-top:150px;
    margin-left: 95px;
  }

  .main {
    width: 60%;
    height: 300px;
    background-image: url(./img/download.jpg);
    background-size: cover;
    color: white;
    padding-top: 50px;
    padding-left: 20px;
  }

  h1{
      display: flex;
      padding-top: 40px;
  }

  .sub-header{
    padding-left: 20px;
  }
  
  .card {    
    float: right;
    margin-top: -390px;
    margin-right: 110px;
    text-align: center;
    text-decoration:white;
    padding: 20px;
    width:400px;
    height: 400px;
  }
  
  .card-1{
    height: 105px;
    margin: 20px;
    background-color: rgb(239, 171, 171);
    padding-top: 60px;
    text-decoration:white;
    
  }

  .card-2{
    height: 105px;
    margin: 20px;
    background-color: rgb(239, 171, 171);
    padding-top: 60px;
    text-decoration:white; 
  }

  .section_3{
    margin-left: 80px;
    margin-top: 50px;
    padding: 20px;
  }  

  .box-1{
    display: inline-block;
    width: 170px;
    background-color: rgb(239, 171, 171);
    padding: 30px;
    margin-right: 25px;
  }

  .box-1 h4{
    text-align: center;
    margin-bottom: 20px;
    text-decoration:white;
  }

  .box-2{
    display: inline-block;
    width: 170px;
    background-color: rgb(239, 171, 171);
    padding: 30px;
    margin-right: 25px;
  }

  .box-2 h4{
    text-align: center;
    margin-bottom: 20px;
  }

  .box-3{
    display: inline-block;
    width: 170px;
    background-color: rgb(239, 171, 171);
    padding: 30px;
    margin-right: 25px;
  }

  .box-3 h4{
    text-align: center;
    margin-bottom: 20px;
  }

  .box-4{
    display: inline-block;
    width: 170px;
    background-color: rgb(239, 171, 171);
    padding: 30px;
    margin-right: 25px;
  }

  .box-4 h4{
    text-align: center;
    margin-bottom: 20px;
  }

  .box-5{
    display: inline-block;
    width: 170px;
    background-color: rgb(239, 171, 171);
    padding: 30px;
    margin-right: 25px;
  }

  .box-5 h4{
    text-align: center;
    margin-bottom: 20px;
  }

  .section_4 {
    display: inline-block;
    margin-top: -200px;
    background-color: rgb(239, 171, 171);
    margin: 20px 50px;
  }

  .section_4 img{
    margin: 7px 10px 0 20px;
    padding: 200ppx;
    height: 401px;
    padding-top: 20px;
  }

  .img-details{
    display: inline-block;
    margin-left: 20px;
    top: -220px;
  }

  .details{
    margin-left: 750px;
    margin-bottom: -190px;
    margin-top: -280px;;
    float:left
    
  }
  .btn{
    float: right;
    padding-right:300px;
    margin-top:-130px;
    margin:(20px 20px 20px 20px);
  }

  .section-5 h4{
    text-align:center;
    text-transform:uppercase;
    font-size: 30px; 
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 20px 0;
    grid-gap: 20px;
    padding: 0 48px;
}
.section-5 .mainimg img{
  width:200px;
  height: 500px;;
}
  
.section-5 h4:after,.section-5 h4:before {
    content: " ";
    border-bottom: 5px solid #000000;
}

.section-6 img{
  margin: 20px 1px 20px 50px;
  height:300px;
  width: 400px;
}

.footer{
  background-color: rgb(239, 171, 171);
}

.list li {
  list-style-type: none;
  padding: 10px;
  margin-left: 65px;
  font-size: 20px;
  color: white;
}

.logo{
  margin-top: -150px;
  padding-left: 1250px;
}